@charset "utf-8";
*{margin:0;padding:0}
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Inconsolata&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Festive&family=Inconsolata&family=Monoton&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Festive&family=Hind:wght@500&family=Inconsolata&family=Monoton&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Festive&family=Hind:wght@500&family=Inconsolata&family=Monoton&family=Roboto+Mono:ital,wght@1,100&family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}

section{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 10%;
    /*overflow-y: hidden;*/
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: rgb(5, 5, 5);
    /*padding: 0px 5%;*/
    position: fixed;
    top:0%;
    width: 100%;
}
nav ul{
    list-style-type: none;
    display: flex;
   
    margin-top: 1.5%;
    justify-content: space-between;
    margin: 0;
    padding:0;
    overflow: hidden;
}
nav li{
    justify-content: space-between;
    display: inline;
}
nav ul li a {  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(253, 253, 253);
    margin-right: 2%;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 14px;
    width: 25%;
    text-decoration: none;
    text-align: center;
}

.logo{
    margin: right;
    float: left;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Festive', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Monoton', cursive;
    font-family: 'Roboto Mono', monospace;
    color: rgba(231, 19, 136, 0.856);
    font-size: 20px;
    font-weight: 700;
    width: 25%;
    text-decoration: none;
    margin-top: 1.5%;
    margin-left: 4%;
}
.current{
    font-style: bold;
    font-size: 17px;
    color:rgb(253, 253, 253);
}

.text-container{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 18%;
    width: 100%;
    margin-bottom: 2%;
}
.text-container p:nth-child(1){
    font-size: 30px;
    line-height: 30px;
    margin: auto;
}
.text-container p:nth-child(2){
    font-size: 35px;
    line-height: 50px;
    margin: auto;
}
.text-container p:nth-child(2) b{
    font-size: 45px;
    line-height: 50px;
    margin: auto;
}
.text-container p:nth-child(3){
    font-size: 15px;
    line-height: 30px;
    margin: auto;
}

.text-container button{
    width: 100px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.hirebutton{
    border: 2px solid rgb(44, 36, 41);
    color:rgba(231, 19, 136, 0.856);
    background-color: white; 
}
.resume{
    border: 2px solid rgb(5, 5, 5);
    color:rgba(231, 19, 136, 0.856);
    background-color: rgb(5, 5, 5);
}

/* To create below code I needed to get formation from w3school.com */
button:active{
    transform: scale(1.1);
}

button:hover {
    opacity: 0.8;
}
.picture{
    height:400px;
    position: absolute;
    display: inline-block;
    top: 28%;
    right : 4%;
    bottom: 0%;
    width: 35%;
}

/*New section start from here called "About Me"*/
.sectiontwo{
    background-color: black;
    height: 450px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.here{
    width: 80%;
    height: 280px;
    top: 22%;
    margin-left: 10%;
    text-align:center;
    position: absolute;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 2px 5px 2px 5px rgb(194, 143, 168);
}
.here h1{
    font-style: bold;
    font-size: 40px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Festive', cursive;
    font-family: 'Hind', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Monoton', cursive;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1%;
    text-align: center;
    margin-left: 1%;
}
.here .p1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
font-family: 'Festive', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Monoton', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tajawal', sans-serif;
margin-top: -2%;
margin-left: 1%;
margin-right: 1%;
font-size: 18px;
text-align: center;
}

/*NEW SECTION CALLED "EDUCATION*/
.education{
    height: 600px;
    position: relative;
    width: 100%;
    /*overflow-x: hidden;*/
    background-color:rgba(255, 255, 255, 0.575);
}
.education h1{
    font-style: bold;
    font-size: 40px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Festive', cursive;
    font-family: 'Hind', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Monoton', cursive;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 0%;
}
.education .p1 {
    font-style: Bold;
    font-size: 30px;
    margin-left: 4%;
    margin-right: 4%;
}
.education .p2{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    margin-right: 4%;
    margin-left: 4%;
}
.education .p3{
    font-style: Bold;
    font-size: 30px;
    margin-left: 4%;
    margin-right: 4%;
}
.education .p4{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 4%;
    margin-left: 4%;
}


/*New Section for login form*/

.loginform{
    height: 500px;
    width: 50%;
    margin-left: 25%;
    color: grey;
}
form {
    border: 3px solid #131212f8;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-style: bold;
    color: black;
}
input[type=text], input[type=password], input[type=city], input[name=city]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginhere {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  padding: 16px;
}
/* This below code is done by the help of w3school.com site to implement my button properly. */
@media screen and (max-width: 300px) {
  .cancelbtn {
     width: 100%;
  }
}


.video{
    margin-left: 25%;
}
iframe{
    margin-left: 25%;
}